@import "./variable";
.AboutMe {
  height: 100vh;

  .heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
  }
  .Text {
    background-color: $light;
    height: 60vh;
    h1 {
      color: $textw;
      text-align: center;
      padding-top: 14vh;
      font-family: "Roboto", sans-serif;
    }
    p {
      color: $textw;
      text-align: center;
      padding: 10px;
      font-size: 1.25rem;
      //   letter-spacing: 2px;
      word-spacing: 6px;
      font-weight: 100;
      padding: 0 15vw;
      font-family: century-gothic, sans-serif;
      //   line-height: 1rem;
      span {
        color: $dark;
      }
    }
  }
}
