@media only screen and (min-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: visible;
  }
}
@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
li {
  list-style: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  //   font-weight: 100;
}
.links {
  padding-top: 1rem;
  //   padding-right: 2px;
  //   text-align: center;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-top: 1rem;
    margin-left: 1.3rem;
    .log {
      scale: (1.3);
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    // margin-right: 2px;

    li {
      padding: 0.6rem;
      &:hover {
        border-bottom: 3px #7510f7 solid;
        // transition: 0.2s ease-in;s
        // text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7510f7,
        //   0 0 10px #7510f7, 0 0 15px #7510f7, 0 0 10px #7510f7, 0 0 10px #7510f7;
      }
    }
  }
  .linksHead {
    display: flex;
    padding-top: 3px;
  }
  .mode {
    display: flex;
    // width: 30px;
    // border: 2px orangered groove;
    border-radius: 10px;
    // margin-bottom: 5px;
  }
  @media screen and (min-width: 540px) {
    .social {
      position: fixed;
      margin-top: 45%;
      margin-left: 1.5%;
      li {
        padding: 5px;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .social {
      position: fixed;
      margin-top: 80vh;
      margin-left: 1.5%;
      li {
        padding: 5px;
      }
    }
    .linksHead {
      display: none;
    }
  }
}

// Scroll Bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7510f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 500px) {
  .social {
    position: fixed;
    margin-top: 100vh;
    margin-left: 1.5%;
    li {
      z-index: 100;
      padding: 5px;
      font-size: 9px;
    }
  }
}
.Light {
  color: #20182d;
}
a {
  text-decoration: none;
}
