@import "../styles/variable";
@font-face {
  font-family: batman;
  src: url(../Fonts/batmfa__.ttf);
}
@font-face {
  font-family: baty;
  src: url(../Fonts/batmfo__.ttf);
}
.projects {
  h1 {
    font-family: moon;
    font-size: 2rem;
    // font-family: "Righteous";
    color: white;
    text-align: center;
    padding: 30px;
  }
  p {
    font-family: moon;
    color: white;
    text-align: center;
    word-spacing: 5px;
    // width: 80vw;
    padding: 0 20vw;
    // font-size: 1.5rem;
    // text-align: center;
  }
  .back {
    background-color: $light;
    height: 60vh;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  .project {
    margin: 10px;

    background-color: white;
    height: 300px;
    min-width: 25rem;
    // border: 3px red groove;
    border-radius: 8px;
  }
}

@media screen and (max-width: 480px) {
  .container .project {
    margin: 10px;

    background-color: #ffffff;
    // height: 300px;
    &:nth-child(1) {
      margin-top: 10vh;
    }

    min-width: 90vw;
    height: 200px;
    // border: 3px red groove;
    border-radius: 8px;
  }
}
#git:hover {
  color: yellow;
}
