@import "../styles/variable";
@font-face {
  font-family: batman;
  src: url(../Fonts/batmfa__.ttf);
}
.projects {
  h1 {
    font-family: Airstrike;
    color: white;
    text-align: center;
    padding: 30px;
  }
  p {
    font-family: "roboto";
    color: white;
    text-align: center;
    word-spacing: 5px;
  }
  .back {
    background-color: $light;
    height: 60vh;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  .project {
    margin: 10px;

    background-color: white;
    height: 300px;
    min-width: 25rem;
    // border: 3px red groove;
    border-radius: 8px;
  }
}
